<!DOCTYPE html>

  <html>
      
      <head>
        
          <% @title="Marc Rudkowski | Product Designer" %> 
          <meta name="Marc Rudkowski | Product Designer"  content="Site for Marc Rudkowski, a product designer and front end developer. I build awesome things!">


      </head>
       <body class="home">

          <header>

                <!-- Mobile Header -->
                    <header class="mobile">

                        <nav class="wrapper">
                            <ul class="nav center">                        
                          
                                   <li><a href="http://blog.marcrudkowski.com">Blog</a></li>
                                   <li><a class="smoothScroll" href="#contact">Contact</a></li>
                                   <li><a  class="smoothScroll radius" href="#work">Work</a></li>
                               
                           </ul>
                      </nav>   
                      </header>

                       <section id="hero2" class="hero is-medium">
                                   <div class="sky">
                                        <div class="clouds-one"></div>
                                        <div class="clouds-two"></div>
                                    </div>

                                <div class="mobile-content">
                                     <h2 class="mobile-description"> Hi there! I’m Marc Rudkowski, a front end developer with a passion for product design! </h2>
                                     <div class="cute-box">""</div>         
                                    <div class="mobile-arrow"> <%=link_to image_tag("DownButton.png"), "#recent", :class => "smoothScroll" %></div>
                                </div>
                              <div class="hero-content">
                            <div class="container">               
                        </div>
                </section>

                <!-- End Mobile Header --> 

               <!-- Start Desktop Header--> 
            <nav>
              <ul class="nav center">
                  <div class="imagewrapper">           
                      <li id="twitternav" class="aligner"><%=link_to image_tag("Twitter.png"),  "https://twitter.com/inacubicle", :target => "_blank"%></li>
                      <li id="githubnav"><%=link_to image_tag("github.png"), "https://github.com/marcrd", :target => "_blank" %></li>
                       <li id="linkedinnav"><%=link_to image_tag("Linkedin.png"), "https://www.linkedin.com/in/marudkowski", :target => "_blank"%></li>
                  </div>

                 <div class="navwrapper">
                       <li><a  href="http://blog.marcrudkowski.com"  target="_blank">Blog</a></li>
                       <li><a class="smoothScroll" href="#contact">Contact</a></li>
                       <li><a class="smoothScroll" href="#work">Work</a></li>
                   </div>
              </ul>
            </nav>
          </header>

          <section id="hero1" class="hero is-fullheight">
                    <div class="sky">
                          <div class="clouds-one"></div>
                          <div class="clouds-two"></div>
                    </div>             

              <div class="hero-content">
                  <div class="container">
                       <div class="centertext">                           
                           <h2> Hi! My name is </h2>
                            <h1 id="marc"> Marc Rudkowski </h1>
                            <h3> A front end developer with a passion for product design </h3>
                            <span class="hvr-hang"> <%=link_to image_tag("DownButton.png"), "#recent", :class => "smoothScroll"%></li> </span>
                      </div>
                </div>
          </section>

            <!-- End Desktop Header--> 

          <section class="hero is-medium" id="recent">
            <div class="hero-content">
                <div class="container">
                    <span id="paintbrush"><%=link_to image_tag("Paintbrush.png") %></span>
                    <h3 id="painttext">I build things. Here’s some of my most recent work. Also checkout my <span class="build" id="dribbblepink"><a href="https://dribbble.com/marcrudkowski" target="_blank">Dribbble</a></span> and <span class="buildtwo is-hidden-touch" id="behanceblue"><a href="https://www.behance.net/marcrudkowski" target="_blank">Behance</a></span>!</h3>

                </div>
            </div>
        </section>


       <section class="hero is-large" id="work">
               <div class="hero-content">
                  <div class="container">
                    <span id="livefireimg"><%=link_to image_tag("Livefire.png"), "http://blog.marcrudkowski.com/livefire-creating-a-livestreaming-app/", :target => "_blank" %></span>
                    <h2>Livefire</h2>
                    <h3>Livestreaming web app I built out to compete in the gaming and creative market </h3>
                   <div id="bluediv"> <a href ="http://blog.marcrudkowski.com/livefire-creating-a-livestreaming-app/" target="_blank" class="button is-large blue light">See Case Study</a> </div>
                </div>
            </div>
        </section>

           <section class="hero is-large" id="xpertdental">
               <div class="hero-content">
                <div class="container">
                    <span id="expertdentalimg"><%=link_to image_tag("XpertDental.png"), "https://www.behance.net/gallery/34335811/Dentist-Concept-Design", :target => "_blank" %></span>
                    <h2>Cedarhurst Dentist</h2>
                    <h3>Responsive Concept Redesign for XpertDental, to increase usability and add brand value </h3>
                    <a href="https://www.behance.net/gallery/34335811/Dentist-Concept-Design" target="_blank" class="button is-large green dark">See on Behance</a>
                </div>
            </div>
        </section>
        
        <section class="hero is-large" id="illustration">
             <div class="hero-content">
                <div class="container">
                    <span id="dukechapel"><%=link_to image_tag("Dukechapel.png"), "https://dribbble.com/marcrudkowski", :target => "_blank" %></span>
                    <h2>Illustration Series</h2>
                    <h3>I love to make illustrations, and do it quite often. You should check them out!</h3>
                    <a href="https://dribbble.com/marcrudkowski" target="_blank" class="button is-large pink light">See my Dribbble</a>
                </div>
            </div>
        </section>
        

        <section class="hero is-large" id="github">
             <div class="hero-content">
                <div class="container">
                    <span id="paintbrush"><%=link_to image_tag("GithubLarge.png"), "https://github.com/marcrd", :target => "_blank" %></span>
                    <h2>Developer Series</h2>
                    <h3>Did I mention I’m a developer? You can see some of my hackathon projects, my portfolio code and side projects</h3>
                    <a href="https://github.com/marcrd" target="_blank "class="button is-large purple light">Check My Github</a>
                </div>
            </div>
        </section>

          <section class="hero is-medium" id="contact">
             <div class="hero-content">
                <div class="container">
                    <span id="paintbrush"><%=link_to image_tag("Message.png"), 'mailto:marcrudkowski@gmail.com'%></span>
                    <h3 class="dark ">Feel free to drop me a line or contact me at <span class="build three"><a href= "mailto:marc.rudkowski@gmail.com">marc.rudkowski@gmail.com</a></span></h3>                   
                </div>
            </div>
        </section> 

     <div class="footercustom"> 
        <ul class="social-media">
             <li id="githubimg"><%=link_to image_tag("github.png"), "https://github.com/marcrd", :target => "_blank" %></li>
             <li id="twitter"><%=link_to image_tag("Twitter.png"), "https://twitter.com/inacubicle", :target => "_blank" %></li>
             <li id="linkedin"><%=link_to image_tag("Linkedin.png"), "https://www.linkedin.com/in/marudkowski", :target => "_blank" %></li>
             <li id="dribbble"><%=link_to image_tag("Dribbble.png"), "https://dribbble.com/marcrudkowski", :target => "_blank" %></li>
             <li id="behance"><%=link_to image_tag("Behance.png"), "https://www.behance.net/marcrudkowski", :target => "_blank" %></li>
             <li id="medium"><%=link_to image_tag("Medium.png"), "https://medium.com/@marcrudkowski", :target => "_blank" %></li>
        </ul>
    </div> 

  </body>
</html>
