<body class="timeline"> 

    <nav> 

        

        <ul> 
            <div class="floatleft">
            <li> <span class="m-logo"><%=link_to image_tag("m-logo.png"), "http://marcrudkowski.com" %></span> </li>
            </div>

            <div class="floatright">
            <li class="current"> <a href="#">Projects</a> </li>
            <li> <a href="#">About</a> </li>
            <li> <a href="#"> Contact </a> </li>
            </div>

        </ul>

    </nav>

   
    <ul class="flex-tiles">

        <li class="flex-item" id="housing-box"><%=link_to image_tag("Housing.png"), "umocss.org" %></li>
        <li class="flex-item" id="dot-box"><%=link_to image_tag("dot.png"), "dotpowered.net" %></li>
        <li class="flex-item" id="illustration-box"> <%=link_to image_tag("OldChapel.png"), "behance.net" %><div id="grass"></div></li>
        <li class="flex-item" id="fidelity-box"><%=link_to image_tag("fidelity.png"), "umocss.org" %></li>
        <li class="flex-item" id="hackumass-box"><%=link_to image_tag("HackUmass.png"), "dotpowered.net" %></li>
        <li class="flex-item" id="illustrations"> <%=link_to image_tag("Pizza.png"), "behance.net" %></li>
        <li class="flex-item" id="tedx-box"><%=link_to image_tag("tedx-logo-small.png"), "tedxamherst.com" %></li>
        <li class="flex-item" id="beanpot-box"><%=link_to image_tag("hackbeanpot.png"), "hackbeanpot.com" %></li>  
        <li class="flex-item" id="threedicc-box"> <%=link_to image_tag("3DICC.png"), "3dicc.com" %></li>

    </ul>



   <!-- <div class="footer"> 
      <ul class="social-media">
       <li id="github"><%=link_to image_tag("github.png"), "https://github.com/marcrd" %></li>
       <li id="twitter"><%=link_to image_tag("Twitter.png"), "https://twitter.com/inacubicle" %></li>
       <li id="linkedin"><%=link_to image_tag("Linkedin.png"), "https://www.linkedin.com/in/marudkowski" %></li>
       <li id="dribbble"><%=link_to image_tag("Dribbble.png"), "https://dribbble.com/marcrudkowski" %></li>
       <li id="behance"><%=link_to image_tag("Behance.png"), "https://www.behance.net/marcrudkowski" %></li>
       <li id="medium"><%=link_to image_tag("Medium.png"), "https://medium.com/@marcrudkowski" %></li>
      </ul>
    </div> -->
  
</body>